$black: #1e1e1e;

main {
    position: relative;
    top: 2vh;
    z-index: 2;
    height: 600px + 60px + 72px - 1px;
    min-width: 600px;
    width: 50vw;
    padding: 42px 60px 108px 72px;
    margin: auto;
    border-radius: 12px;
    background-color: $black;
  
    #power {
      position: relative;
      left: -58px;
      top: 20vh;
      color: $white;
      font-size: 12px;
      
      #light {
        width: 12px;
        height: 12px;
        border-radius: 24px;
        background-color: $red;
        box-shadow: 0px 0px 3px 1px black inset;
      }
    }
  
    #gamebox {
      font-size: 36px;
      height: 108px - 30px;
      line-height: 108px - 30px;
      text-align: center;
      font-weight: bold;
      #gbc {
        color: $grey;
        font-style: italic;
        padding-right: 12px;
      }
  
      #color {
        letter-spacing: -4px;
      }
      #color1 {
        color: #a8053c;
      }
  
      #color2 {
        color: #4f4da0;
      }
  
      #color3 {
        color: #71a133;
      }
  
      #color4 {
        color: #d9a40a;
      }
  
      #color5 {
        color: #008e7a;
      }
    }
  }